<mat-nav-list class="nav-list">
    <a mat-list-item [routerLink]="item.routeUrl" routerLinkActive="active" *ngFor="let item of navList">
        <i class="material-icons">
            {{ item.icone }}
        </i>
        {{ item.titulo }}
    </a>
    <!-- <a mat-list-item [routerLink]="['/']">
        <i class="material-icons">
            home
        </i>
        Início
    </a>
    <a mat-list-item [routerLink]="['/cliente']">
        <i class="material-icons">
            face
        </i>
        Clientes
    </a>
    <a mat-list-item [routerLink]="['/veiculo']">
        <i class="material-icons">
            directions_car
        </i>
        Veículos
    </a>
    <a mat-list-item [routerLink]="['/vaga']">
        <i class="material-icons">
            tab_unselected
        </i>
        Vagas
    </a>
    <a mat-list-item>
        <i class="material-icons">
            arrow_downward
        </i>
        Check in
    </a>
    <a mat-list-item>
        <i class="material-icons">
            arrow_upward
        </i>
        Check out
    </a> -->
</mat-nav-list>